.v-progress-linear__determinate,
.v-progress-linear__indeterminate {
    background: #FF458D !important;
}


.mdi-checkbox-marked::before {
    color: #FF458D !important;
}


.Vue-Toastification__toast {
    .Vue-Toastification__toast-body {
        font-size: 14px;
    }
}

.icon-button {
    padding: 5px;
    border-radius: 4px;
    background: rgba(255, 68, 142, 0.1);
    width: fit-content;
    cursor: pointer;
    transition: 0.3s;
}

.icon-button i {
    font-size: 24px;
    color: rgba(255, 68, 142, 1);
}

.icon-button:hover {
    opacity: 0.8;
}

.icons-div {
    display: flex;
    align-items: center;
    gap: 15px;
}